extends layouts/main-layout.pug

block content
  .container
    .card.hero
      h1.text-display-3 Profile
      if user
        p.text-body-1 Username: #{user.username}
        p.text-body-1 Email: #{user.email}
      else
        p.text-body-1 You are not logged in.